# Class Activity - Relational Databases

Represent these tables in Python as a list of 4-tuples.

Courses:

|Course Number|Course Title|Instructor|Semester|
|---|---|---|---|
|CSE 110|Programming Building Blocks|Comeau|Spring|
|CSE 110|Programming Building Blocks|Phillips|Fall|
|CSE 111|Programming with Functions|Birch|Winter|
|CSE 111|Programming with Functions|Burton|Fall|
|CSE 111|Programming with Functions|Burton|Spring|
|CSE 170|Technical Teamwork|Hansen|Fall|
|CSE 180|Algorithmic Thinking|Kay|Spring|
|CSE 180|Algorithmic Thinking|Kay|Winter|
|CSE 280|Discrete Mathematics|Phillips|Spring|
|CSE 280|Discrete Mathematics|Barney|Fall|
|CSE 280|Discrete Mathematics|Phillips|Winter|

Students:

|Student Name|Course Number|Semester|
|---|---|---|
|Bob|CSE 110|Spring|
|Bob|CSE 111|Fall|
|Sue|CSE 111|Fall|
|Sue|CSE 180|Winter|
|Bill|CSE 280|Spring|
|Bill|CSE 170|Fall|


Then use Python to answer the following questions. (Hint: Use list comprehensions)

1. Find all rows where the class number is CSE 280

2. Find all classes taught by Phillips

3. List all class names for classes taught in Spring

4. List all class numbers and instructors for classes taught in Fall

5. Find the instructor name for Sue's CSE 111 class

In [ ]:
# Represent the courses table as a list of tuples
courses = [("CSE 110", "Programming Building Blocks", "Comeau", "Spring"),
           ("CSE 110", "Programming Building Blocks", "Phillips", "Fall"),
           ("CSE 111", "Programming with Functions", "Birch", "Winter"),
           ("CSE 111", "Programming with Functions", "Burton", "Fall"),
           ("CSE 111", "Programming with Functions", "Burton", "Spring"),
           ("CSE 170", "Technical Teamwork", "Hansen", "Fall"),
           ("CSE 180", "Algorithmic Thinking", "Kay", "Spring"),
           ("CSE 180", "Algorithmic Thinking", "Kay", "Winter"),
           ("CSE 280", "Discrete Mathematics", "Phillips", "Spring"),
           ("CSE 280", "Discrete Mathematics", "Barney", "Fall"),
           ("CSE 280", "Discrete Mathematics", "Phillips", "Winter")]


# Represent the students table as a list of tuples
students = [('Bob', 'CSE 110', 'Spring'),
            ('Bob', 'CSE 111', 'Fall'),
            ('Sue', 'CSE 111', 'Fall'),
            ("Sue", 'CSE 180', "Winter"),
            ('Bill', 'CSE 280', 'Spring'),
            ("Bill", "CSE 170", "Fall")]


# Find all rows where the class number is CSE 280




# Find all classes taught by Phillips



# List all class names for classes taught in Spring



# List all class numbers and instructors for classes taught in Fall



# Find the instructor name for Sue's CSE 111 class

## Sample solution...don't peek until you try it first!

In [ ]:
#@title Answer {display-mode: "form"}
# Find all rows where the class number is CSE 280
print([x for x in courses if x[0] == "CSE 280"])

# Find all classes taught by Phillips
print([x for x in courses if x[2] == 'Phillips'])

# List all class names for classes taught in Spring
print([x[1] for x in courses if x[3] == 'Spring'])

# List all class numbers and instructors for classes taught in Fall
print([(x[0], x[2]) for x in courses if x[3] == 'Fall'])

# Find the instructor name for Sue's CSE 111 class
print([course[2] for course in courses for student in students if student[0]
       == 'Sue' and student[1] == 'CSE 111' and course[0] == student[1] and course[3] == student[2]])